<section class="section background">
  <div class="section__title">Resumo</div>
  <div class="section__content">
    <p>
      Atualmente sou um
      <a class="underline-link">desenvolvedor backend júnior</a> buscando construir aplicações incríveis. Minha principal tecnologia é 
      <a class="underline-link">Java</a>, também estudando Spring Boot e MySQL.
    </p>

    <p>
      Movido pela busca de soluções de maneira simples e criativa, procuro formas de impactar positivamente a vida das pessoas com
      auxílio da tecnologia, gerando transformação através do código &mdash; Acredito muito na colaboração e na troca de informações
      para solucionar problemas ou desafios e trazer a melhor conclusão para eles.
    </p>

    <p>
      <strong>Quando não estou na frente de uma tela de computador</strong>, provavelmente estou praticando algum esporte, dirigindo por aí ou riscando outro item da minha lista de desejos.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
